# Secrets
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.dbload/consumption_per_group_mba_hour-all-no-0000-00-00.csv
